<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">

<h:head>
<title>Cadastro de jogador</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
		<h:outputLabel value="Nome do jogador:"/>
		<h:inputText value="#{testeController.nomeJogador}" />
		<h:outputLabel value="S.nome:"/>
		<h:inputText value="#{testeController.sobreNome}" />
		<h:outputLabel value="Idade:"/>
		<h:inputText value="#{testeController.idade}" />
		<h:commandButton value="Cadastrar"/>
		</h:panelGrid>
		<p>Meu nome é: #{testeController.nomeJogador} #{testeController.sobreNome}</p>
		<p>Idade: #{testeController.idade}</p>
	</h:form>
</h:body>
</html>